{{if .Success}}
  <h1>Thanks for your message!</h1>
{{else}}
  <h1>Input loan parameters</h1>
  <form action="/" method="POST" novalidate>
    <div>
      <p><label>Principal amount:</label></p>
	  <p><input type="number" name="principal"></p>
	</div>
	<div>
	  <p><label>Interest rate:</label></p>
	  <p><input type="number" name="interest"></p>
	</div>
	<div>
	  <p><label>Frequency interest is applied (daily - 365, weekly - 52, monthly - 12, yearly - 1):</label></p>
	  <p><input type="number" name="frequency"></p>
	</div>
	<div>
	  <p><label>Term time:</label></p>
	  <p><input type="number" name="term"></p>
	</div>
	<div>
	  <input type="submit" value="Submit values">
	</div>
  </form>
{{end}}